
$solitude: #ECEEF1; //main white
$lighter_white: #fbfbfc;
$black_rock: #363947; //main black
$light_black_rock: #414555;
$light_gray: #CCCCCC;
$deep_blue: #0E7AC4;
$dark_blue: #062c30;
$light_green: #58BE89;
$dark_green: #40a370;
$blue_stone: #094046;
$light_blue_stone: #127e8a; 

$font_xlarge: 30px;
$font_large: 24px;
$font_medium: 18px;
$font_small: 12px;
$font_xsmall: 20px;

