
$solitude: #ECEEF1; //main white
$lighter_white: #fbfbfc;
$black_rock: #363947; //main black
$light_black_rock: #414555;
$light_gray: #CCCCCC;

$font_xlarge: 30px;
$font_large: 24px;
$font_medium: 18px;
$font_small: 12px;
$font_xsmall: 20px;

