@import "share/setting";
$entryHeight: 240px;
.entry-container {
  background-color: $lighter_white;
  display: table;
  height: $entryHeight;
  max-height: $entryHeight;
}
.entry-desc-wrapper-table {
  display: table;
  height: $entryHeight;
  max-height: $entryHeight;
}
.entry-desc-wrapper-cell {
  display: table-cell;
  padding-right: 10px;
  vertical-align: middle;
}
.entry-desc__title {
  color: $dark_blue;
  font-size: $font_medium;
  &:hover {
    color: $dark_green;
  }
}
.entry-desc__title--without-img {
  color: $dark_blue;
  font-size: $font_medium;
  padding: 0 20px 0 40px;
  &:hover {
    color: $dark_green;
  }
}
.entry-desc__summary {
  margin-top: 10px;
}
.entry-desc__summary--without-img {
  margin-top: 10px;
  padding: 0 20px 0 40px;
}
.entry-img-wrapper {
}
.entry-img {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  margin: 30px 0;
}
.img-wrapper-table {
  display: table;
  width: 100%;
  height: $entryHeight;
  max-height: $entryHeight;
}
.img-wrapper-cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  img {
    display: block;
    height: $entryHeight;
    width: 100%;
  }
}

// modalでの全文記事
.modal-entry-container {
}
.modal-dialog-entry-container {
  width: 680px;
}
.modal-header-entry {
  border-bottom: 0;
}
.modal-body-entry {
  padding: 15px 30px;
}
.modal-entry__title {
  font-size: $font_large;
  text-align: center;
}
.modal-entry__img {
  float: left;
  padding: 30px 20px;
}
.modal-entry__content {
  padding: 30px 0 0;
}
.modal-entry__link {
  text-align: right;
}
.modal-entry__similar-articles__links {
}
.modal-entry__similar-articles {
  margin-top: 10px;
}
// scrapeしたhtml
.articleImage {
  float: right;
  margin: 0 0 10px 30px;
}
.articleImageExpand {
  text-align: center;
}

.pagination-wrapper {
  ul li a {
    color: $blue_stone;
  }
  text-align: center;
}
.active-green {
  a {
    background-color: $light_green !important;
    border-color: $light_green !important;
  }
}
