@import "share/setting";
@import "share/mixin";
body {
  background-color: $solitude;
  color: $black_rock;
  min-width: 1000px;
}

.sidebar-wrapper {
  background-color: $black_rock;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 20;
}
.sidebar-logo {
  width: 45px;
  margin: 20px auto;
  img {
    width: 100%;
  }
}

.sidebar-list {
  margin: 80px 0;
  padding: 0;
}
.sidebar-list__link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    .sidebar-list__link__item { background-color: $light_black_rock; }
  }
}
.sidebar-list__link__item {
  color: $light_gray;
  display: block;
  list-style-type: none;
  padding: 15px 0;
  text-align: center;
  &.active {
    background-color: $light_black_rock;
    border-right: 8px solid $light_green;
    color: $solitude;
  }
}

.main-wrapper {
  @include calc-width-100(198px);
  float: right;
  position: relative;
}
.content-wrapper {
  padding: 100px 80px;
}

.topbar {
  color: $dark_green;
  background-color: $solitude;
  font-family: 'Serif';
  font-size: $font_large;
  @include calc-width-100(198px);
  text-align: center;
  padding: 7px 0;
  position: fixed;
  z-index: 10;
}
